<div class="row">
    <div class="col-xs-12">
      <p>Add New Server or Blueprint</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button class="btn btn-primary" (click)="onAddBlueprint()">Add Blueprint</button>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
    </div>
  </div>
  <!-- [(ngModel)]="newServerName -->